body {
    direction: rtl;
    text-align: right;
    font-family: iransans-en;
}
input[type='text']::placeholder {
    color: rgba(128, 128, 128, 0.473);
}
/* text colors  */
.text-pink {
    color: #ec0c6d;

}
@font-face {
    font-family: iransans-fa;
    src: url(../font/IRANSansWebFaNum-Medium-fa.woff2);
}
@font-face {
    font-family: iransans-en;
    src: url(../font/IRANSansWeb_Light.woff2);
}
/* buttons  */
.btn-pink {
    background-color: #ec0c6d;
    color: white;
    height: 4em; 
    font-size: 0.9em;
}
.btn-pink:hover {
    color: white;
    background-color: #8a0840;;
}
/* header  */
.header {
    background-image: url(../img/h1.jpg);
    background-size: cover;
    padding: 2.5em;
    color: white;
    font-family:  iransans-fa;
}
.logo-conatiner {
    display: flex;

}
.logo {
    width: 50px;
}
.login-container {
    font-size: 0.6em;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.login {
    border-radius: 3em;
    border: 1px solid white;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    cursor: default;
    margin-left: 1em;

}
.login .material-icons {
    font-size: 1.2em;
}
.login > span:nth-of-type(2){
    cursor: pointer;
}
.lang{
    cursor: pointer;
}
.header-search {
    display: flex;
    justify-content: center;
    margin: 7em 0;

}
.header-search input[type='text'] {
    width: 9em;
    height: 4em;
    border-radius: 0.4em;
    outline: none;
    padding: 0 1em;
    font-size: 0.9em;
    border: none;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
.header-search-title {
    font-size: 1em;
    text-align: center;
    line-height: 1.5em;
}
.header-form-container {
    background-color: rgba(0, 0, 0, 0.438);
    padding: 1em;
    padding-bottom: 2.5em;
    border-radius: 0.4em;

}
.header-form-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-shops {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-shops > div {
    margin: 0 2em;
    cursor: pointer;
}
.header-shops > div > p {
    text-align: center;
    margin-top: 1em;
}

.header-shops > div > div {
    position: relative;

}

.header-shops > div > div > span {
    position: absolute;
    bottom: 1em;
    right: 0;
    background-color: white;
    color: #ec0c6d;
    border-radius: 50%;
    border: 2px solid #ec0c6d;
    padding: 0.5em 0.3em;;
}

/* end of header  */
.description {
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.description > h2  {
    font-size: 0.9em;
}
.description > p  {
    font-size: 0.8em;
}


  @media (min-width: 576px) {
  
  }
  
  @media (min-width: 768px) {
    .header {
        /* height: 100vh; */
    }
    .logo {
        width: 80px;
    }
    .login-container {
        font-size: 0.8em;
    }
    .login .material-icons {
        font-size: 1.7em;
    }
    .header-search-title {
        font-size: 2em;
    }
    .header-form-container > form {
        flex-direction: row;
    }
    .header-search input[type='text'] {
        margin-bottom: 0;
    }
    .header-shops {
        flex-direction: row;

    }

    /* description  */
    .description > h2  {
        font-size: 1.8em;
    }
    .description {
        padding: 5em 0;
    }
    .description > p  {
        font-size: 1em;
        line-height: 1.8em;
    }





  
  }
  
  @media (min-width: 992px) {
   
  }
  
  @media (min-width: 1200px) {
   
  }

