body {
    direction: rtl;
    text-align: right;
    font-family: iransans;
}
@font-face {
    font-family: iransans;
    src: url(../font/IRANSansWebFaNum-Medium.woff2);
}
.header {
    background-image: url(../img/web1.jpg);
    background-size: cover;
    padding: 2.5em;
    color: white;
}
.logo-conatiner {
    display: flex;

}
.logo {
    width: 50px;
}
.login-container {
    font-size: 0.6em;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.login {
    border-radius: 3em;
    border: 1px solid white;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    cursor: default;
    margin-left: 1em;

}
.login .material-icons {
    font-size: 1.2em;
}
.login > span:nth-of-type(2){
    cursor: pointer;
}

  @media (min-width: 576px) {
  
  }
  
  @media (min-width: 768px) {
    .logo {
        width: 80px;
    }
    .login-container {
        font-size: 0.8em;
    }
    .login .material-icons {
        font-size: 1.7em;
    }


  
  }
  
  @media (min-width: 992px) {
   
  }
  
  @media (min-width: 1200px) {
   
  }

