body {
    direction: rtl;
    text-align: right;
    font-family: iransans;
}
input[type='text']::placeholder {
    color: rgba(128, 128, 128, 0.473);
}
@font-face {
    font-family: iransans;
    src: url(../font/IRANSansWebFaNum-Medium.woff2);
}
/* buttons  */
.btn-pink {
    background-color: #ec0c6d;
    color: white;
    height: 4em; 
    font-size: 0.9em;
}
.btn-pink:hover {
    color: white;
    background-color: #8a0840;;
}
/* header  */
.header {
    background-image: url(../img/web1.jpg);
    background-size: cover;
    padding: 2.5em;
    color: white;
}
.logo-conatiner {
    display: flex;

}
.logo {
    width: 50px;
}
.login-container {
    font-size: 0.6em;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.login {
    border-radius: 3em;
    border: 1px solid white;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    cursor: default;
    margin-left: 1em;

}
.login .material-icons {
    font-size: 1.2em;
}
.login > span:nth-of-type(2){
    cursor: pointer;
}
.lang{
    cursor: pointer;
}
.header-search {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}
.header-search input[type='text'] {
    width: 9em;
    height: 4em;
    border-radius: 0.4em;
    outline: none;
    padding: 0 1em;
    font-size: 0.9em;
    border: none;
    margin-left: 0.5em;
}


/* end of header  */

  @media (min-width: 576px) {
  
  }
  
  @media (min-width: 768px) {
    .logo {
        width: 80px;
    }
    .login-container {
        font-size: 0.8em;
    }
    .login .material-icons {
        font-size: 1.7em;
    }


  
  }
  
  @media (min-width: 992px) {
   
  }
  
  @media (min-width: 1200px) {
   
  }

